<!DOCTYPE html>
<html>
  <head>
    <title>Hw1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= link_to 'Cars', cars_path %>
<%= link_to 'Makes', makes_path %>
<%= link_to 'Parts', parts_path %>

    <div class ='content'>
      <%= yield %>
    </div>

</html>
